<p><b>Set character positions</b></p>

<% if @team.errors.any? %>
  <span class="red">
    <% @team.errors.messages.each do |msg| %>
      <p><%= msg[1][0] %></p>
    <% end %>
  </span>
<% end %>

<div>1 <%= collection_select(:position0, :character, @team.characters, :_id, :name, {:selected => @team.get_char(0)._id, }) %></div>
<div>2 <%= collection_select(:position1, :character, @team.characters, :_id, :name, {:selected => @team.get_char(1)._id}) %></div>
<div>3 <%= collection_select(:position2, :character, @team.characters, :_id, :name, {:selected => @team.get_char(2)._id}) %></div>
<div>4 <%= collection_select(:position3, :character, @team.characters, :_id, :name, {:selected => @team.get_char(3)._id}) %></div>
<div>5 <%= collection_select(:position4, :character, @team.characters, :_id, :name, {:selected => @team.get_char(4)._id}) %></div>

