<div class="front-row">
  <div class="front-row-formation-1">
    <%= edit_team_character(0, team) %>
  </div>
  <div class="front-row-formation-1">
    <%= edit_team_character(1, team) %>
  </div>
  <div class="front-row-formation-1">
    <%= edit_team_character(2, team) %>
  </div>
  <div class="front-row-formation-1">
    <%= edit_team_character(3, team) %>
  </div>
  <div class="front-row-formation-1">
    <%= edit_team_character(4, team) %>
  </div>
</div>

