<div style="text-align: center"><b>Front<b></div>

<% if @team.errors.any? %>
  <span class="red">
    <% @team.errors.messages.each do |msg| %>
      <p><%= msg[1][0] %></p>
    <% end %>
  </span>
<% end %>

<% case @team.formation %>
  <% when 1 %>
    <%= render :partial => "formation1", :locals => {:team => @team} %>
  <% when 2 %>
    <%= render :partial => "formation2", :locals => {:team => @team} %>
  <% when 3 %>
    <%= render :partial => "formation3", :locals => {:team => @team} %>
  <% when 4 %>
    <%= render :partial => "formation4", :locals => {:team => @team} %>
<% end %>

