<table id="edit-characters-table">
    <%= render :partial => "characters/edit_character", :collection => @team.characters %>
</table>

<div id="team-formation">
  <%= render :partial => "formation" %>
</div>

<p>Set formation to </p>

<%= select_tag('formation-selector', options_for_select([['One', 1], ['Two', 2], ['Three', 3], ['Four', 4]], @team.formation), 'data-id' => @team._id) %>

<div id="char-positions">
  <%= render :partial => "char_positions" %>
</div>

<a href="#" id="submit-character-positions" data-id="<%= @team._id %>">Save positions</a>

