<h2><%= @team.name %></h2>
<div id="edit-formation" class="bright-background left">
  <%= render :partial => "formation" %>
</div>
  <div id="position-select" class="bright-background left">
  <div id="char-positions">
    <%= render :partial => "char_positions" %>
  </div>
  <a href="#" id="submit-character-positions" data-id="<%= @team._id %>">Save positions</a>
</div>


<div id="edit-character-names" class="bright-background left">
    <p><b>Set character names</b></p>
    <%= render :partial => "characters/edit_character", :collection => @team.characters %>
    <a href="#" id="submit-character-names">Save names</a>
</div>

<div id="destroy-team" class="bright-background left">
  <%= link_to "<span class='red'>Delete team</span>".html_safe, '#' %>
</div>

<div class="delete-error left">

</div>

