<div class="equipment-info bright-background">
  <h4><%= equipment.name %>
  <% if equipment.character %>
    <a class="unequip-item" href="#" data-id="<%= equipment._id %>"><span class="red">X</span></a>
  <% else %>
    <a href="#" rel="tooltip" data-original-title="Sell Item for <%= (equipment.value / 3.0).round(0) %>" class="sell-item-button" data-id="<%= equipment._id %>"><img src='/images/coin-icon.png' border='0'/></a>
  <% end %>
  </h4>
  <% if equipment.weapon? %>
    <p>Class: <span class="weapon-class" rel="tooltip" data-original-title="<%= equipment.get_class_tooltip %>"><%= equipment.get_class_name %></span></p>
    <% if equipment.ranged? %>
      <p>Range: Ranged </p>
    <% else %>
      <p>Range: Melee </p>
    <% end %>
    <p>Damage: <%= "#{equipment.min_damage} - #{equipment.max_damage}" %></p>
  <% else %>
    <p>Class: <%= equipment.get_class_name %></p>
    <p>Armor: <%= equipment.armor %></p>
    <p>Str Req: <%= equipment.str_req %></p>
  <% end %>
</div>

