<h2>Smithy</h2>
<p>Here you can purchase equipment for your team.</p>
<ul class="nav nav-tabs">
  <li class="active smithy-tab"><a href="#melee-weapons" data-toggle="tab">Melee Weapons</a></li>
  <li class="smithy-tab"><a href="#ranged-weapons" data-toggle="tab">Ranged Weapons</a></li>
  <li class="smithy-tab"><a href="#shields" data-toggle="tab">Shields</a></li>
  <li class="smithy-tab"><a href="#head-armor" data-toggle="tab">Head Armor</a></li>
  <li class="smithy-tab"><a href="#chest-armor" data-toggle="tab">Chest Armor</a></li>
  <li class="smithy-tab"><a href="#leg-armor" data-toggle="tab">Leg Armor</a></li>
</ul>

<div class="tab-content left bright-background" id="smithy-tab-content">
  <div class="tab-pane active" id="melee-weapons">

    <%= smithy_item('short_sword', 'Short Sword') %>
    <div class="smithy-item-separator"></div>

    <%= smithy_item('club', 'Club') %>
    <div class="smithy-item-separator"></div>

    <%= smithy_item('small_axe', 'Small Axe') %>
    <div class="smithy-item-separator"></div>

    <%= smithy_item('short_spear', 'Short Spear') %>
    <div class="smithy-item-separator"></div>

  </div>
  <div class="tab-pane" id="ranged-weapons">

    <%= smithy_item('throwing_knives', 'Throwing Knives') %>
    <div class="smithy-item-separator"></div>

    <%= smithy_item('javelins', 'Javelins') %>
    <div class="smithy-item-separator"></div>

    <%= smithy_item('throwing_axes', 'Throwing Axes') %>
    <div class="smithy-item-separator"></div>

  </div>
  <div class="tab-pane" id="shields">

    <%= smithy_item('buckler', 'Buckler') %>
    <div class="smithy-item-separator"></div>

    <%= smithy_item('small_shield', 'Small Shield') %>
    <div class="smithy-item-separator"></div>

    <%= smithy_item('kite_shield', 'Kite Shield') %>
    <div class="smithy-item-separator"></div>

  </div>
  <div class="tab-pane" id="head-armor">

    <%= smithy_item('leather_cap', 'Leather Cap') %>
    <div class="smithy-item-separator"></div>

    <%= smithy_item('studded_leather_cap', 'Studded Leather Cap') %>
    <div class="smithy-item-separator"></div>

    <%= smithy_item('chainmail_coif', 'Chainmail Coif') %>
    <div class="smithy-item-separator"></div>

    <%= smithy_item('full_helm', 'Full Helm') %>
    <div class="smithy-item-separator"></div>


  </div>
  <div class="tab-pane" id="chest-armor">

    <%= smithy_item('leather_armor', 'Leather Armor') %>
    <div class="smithy-item-separator"></div>

    <%= smithy_item('studded_leather_armor', 'Studded Leather Armor') %>
    <div class="smithy-item-separator"></div>

    <%= smithy_item('chainmail_armor', 'Chainmail Armor') %>
    <div class="smithy-item-separator"></div>

    <%= smithy_item('chest_plate', 'Chest Plate') %>
    <div class="smithy-item-separator"></div>


  </div>
  <div class="tab-pane" id="leg-armor">

    <%= smithy_item('leather_pants', 'Leather Pants') %>
    <div class="smithy-item-separator"></div>

    <%= smithy_item('studded_leather_pants', 'Studded Leather Pants') %>
    <div class="smithy-item-separator"></div>

    <%= smithy_item('chainmail_breeches', 'Chainmail Breeches') %>
    <div class="smithy-item-separator"></div>

    <%= smithy_item('plate_legs', 'Plate Legs') %>
    <div class="smithy-item-separator"></div>


  </div>
</div>

<div class="left bright-background" id="smithy-item-view">

</div>

<div id="smithy-messages" class="left"></div>

