<tr>
  <td>
    <h4><%= character.name %></h4>
    <p>
      Strength: <%= character.str %>
      Dexterity: <%= character.dex %>
      Toughness: <%= character.tgh %>
      Initiative: <%= character.ini %>
      Intellect: <%= character.int %>
      Memory: <%= character.mem %>
    </p>
    <p>
      Strike: <%= character.strike %>
      Defensive Posture: <%= character.defensive_posture %>
      Throw: <%= character.thrown %>
      Cover: <%= character.cover %>
      Throw Dirt: <%= character.dirt %>
    </p>
  </td>
</tr>

