<tr>
  <td>
    <h4>
      <%= link_to character.name, edit_character_path(character) %>
      <% if character.points_to_spend? %>
        - <%= link_to "Unspent skill points", skillup_character_path(character) %>
      <% end %>
    </h4>
    <p>
      Strength: <%= character.str %>
      Dexterity: <%= character.dex %>
      Toughness: <%= character.tgh %>
      Initiative: <%= character.ini %>
      Intellect: <%= character.int %>
      Memory: <%= character.mem %>
    </p>
    <p>
      <% character.get_skills_array.each_with_index do |skill_level, index| %>
        <% if skill_level != 0%>
          <%= "#{Constant.get_skill_name(index)}: #{character.get_skill_value(index)}" %>
        <% end %>
      <% end %>
    </p>
  </td>
</tr>

