<div class="team-character bright-background left">
  <b><%= character.name %></b>

  <div id="pos<%= pos %>-ap">AP: <%= character.final_ap %></div>
  <div>HP: <%= character.current_hp %></div>
  <div id="pos<%= pos %>-actions">
  </div>
  <div id="pos<%= pos %>-skill-selector" class="skill-select" data-pos="<%= pos %>">

  </div>

  <script type="text/javascript">
      var selector = $('#pos<%= pos %>-skill-selector')
      set_skill_options(selector, <%= pos %>)
  </script>

  </br>
</div>

