<div class="team-character">
  <b><%= character.name %></b>

  <div id="pos<%= pos %>-ap">AP: <%= character.ap %></div>
  <div>HP: <%= character.current_hp %></div>
  <div id="pos<%= pos %>-actions">
  </div>

  <select name="pos<%= pos %>-skill-selector" id="pos<%= pos %>-skill-selector" class="skill-selector" data-pos="<%= pos %>"></select>
  <% characters_array = @op_chars.all.map { |char| ["#{char.name} - #{char.position}", char.position] } %>
  <%= select_tag("pos#{pos}-character-selector", options_for_select(characters_array)) %>

  <script type="text/javascript">
      var selector = $('#pos<%= pos %>-skill-selector')
      set_skill_options(selector, <%= pos %>)
  </script>

  <a href="#" class="confirm-skill" data-pos="<%= pos %>">Confirm Skill</a>
  </br>
</div>

