<tr>
  <td>
    <h4><%= character.name %></h4>
    <p>
      Strength: <%= character.str %>
      Dexterity: <%= character.dex %>
      Toughness: <%= character.tgh %>
      Initiative: <%= character.ini %>
      Intellect: <%= character.int %>
      Memory: <%= character.mem %>
    </p>
    <p>
      Strike: <%= character.strike %>
      Throw: <%= character.thrown %>
      Fire Projectile: <%= character.projectile %>
      Dodge: <%= character.dodge %>
      Block: <%= character.block %>
      Poison: <%= character.poison %>
      Throw Dirt: <%= character.dirt %>
      Destructive: <%= character.destructive %>
      Defensive: <%= character.defensive %>
      Debuffs: <%= character.debuffs %>
      Buffs: <%= character.buffs %>
    </p>
  </td>
</tr>

