<% character = create_character %>

<div class="create-character bright-background left">
  <div class="create-character-header left">
    <h3 class="left">
      <%= character.name %>
    </h3>
    <div class="right">
      <h4>Points: <span class="points"><%= @points %></span></h4>
    </div>
  </div>
  <div class="left create-character-stats-column">
    <p>
      <b>Stats</b></br>
      <div class="edit-stat" data-pos="<%= character.position %>" data-stat="str">
        Strength:
        <div class="decrease-stat-button btn right">-</div>
        <div class="increase-stat-button btn right">+</div>
        <span class="stat-label right"><%= character.str %></span>
        <input type="hidden" name="[<%= character.position %>]str" class="stat-value" value="0"/>
      </div>
      <div class="edit-stat" data-pos="<%= character.position %>" data-stat="dex">
        Dexterity:
        <div class="decrease-stat-button btn right">-</div>
        <div class="increase-stat-button btn right">+</div>
        <span class="stat-label right"><%= character.dex %></span>
        <input type="hidden" name="[<%= character.position %>]dex" class="stat-value" value="0"/>
      </div>
      <div class="edit-stat" data-pos="<%= character.position %>" data-stat="tgh">
        Toughness:
        <div class="decrease-stat-button btn right">-</div>
        <div class="increase-stat-button btn right">+</div>
        <span class="stat-label right"><%= character.tgh %></span>
        <input type="hidden" name="[<%= character.position %>]tgh" class="stat-value" value="0"/>
      </div>
      <div class="edit-stat" data-pos="<%= character.position %>" data-stat="ini">
        Initiative:
        <div class="decrease-stat-button btn right">-</div>
        <div class="increase-stat-button btn right">+</div>
        <span class="stat-label right"><%= character.ini %></span>
        <input type="hidden" name="[<%= character.position %>]ini" class="stat-value" value="0"/>
      </div>
      </br>
      <div class="edit-stat" data-pos="<%= character.position %>" data-stat="hp">
        HP:
        <div class="decrease-stat-button btn right">-</div>
        <div class="increase-stat-button btn right">+</div>
        <span class="stat-label right"><%= character.hp %></span>
        <input type="hidden" name="[<%= character.position %>]hp" class="stat-value" value="0"/>
      </div>
    </p>
  </div>

  <div class="left create-character-skills-column">
    <p>
      <b>Skills</b></br>
        <div class="edit-skill" data-pos="<%= character.position %>" data-skill="0">
          Strike:
          <div class="decrease-skill-button btn right">-</div>
          <div class="increase-skill-button btn right">+</div>
          <span class="skill-label right"><%= character.strike %></span>
          <input type="hidden" name="[<%= character.position %>]strike" class="skill-value" value="0"/>
        </div>
        <div class="edit-skill" data-pos="<%= character.position %>" data-skill="1">
          Thrown:
          <div class="decrease-skill-button btn right">-</div>
          <div class="increase-skill-button btn right">+</div>
          <span class="skill-label right"><%= character.thrown %></span>
          <input type="hidden" name="[<%= character.position %>]thrown" class="skill-value" value="0"/>
        </div>
        <div class="edit-skill" data-pos="<%= character.position %>" data-skill="3">
          Dirt:
          <div class="decrease-skill-button btn right">-</div>
          <div class="increase-skill-button btn right">+</div>
          <span class="skill-label right"><%= character.dirt %></span>
          <input type="hidden" name="[<%= character.position %>]dirt" class="skill-value" value="0"/>
        </div>
        <div class="edit-skill" data-pos="<%= character.position %>" data-skill="4">
          Defensive Posture:
          <div class="decrease-skill-button btn right">-</div>
          <div class="increase-skill-button btn right">+</div>
          <span class="skill-label right"><%= character.defensive_posture %></span>
          <input type="hidden" name="[<%= character.position %>]defensive_posture" class="skill-value" value="0"/>
        </div>
        <div class="edit-skill" data-pos="<%= character.position %>" data-skill="22">
          Run Up:
          <div class="decrease-skill-button btn right">-</div>
          <div class="increase-skill-button btn right">+</div>
          <span class="skill-label right"><%= character.run_up %></span>
          <input type="hidden" name="[<%= character.position %>]run_up" class="skill-value" value="0"/>
        </div>
    </p>
  </div>
</div>

