<h2><%= @character.name %></h2>
<div id="character-stats" class="left">
  <p>Strength: <%= @character.str %></p>
  <p>Dexterity: <%= @character.dex %></p>
  <p>Toughness: <%= @character.tgh %></p>
  <p>Initiative: <%= @character.ini %></p>
  <p>Intellect: <%= @character.int %></p>
  <p>Memory: <%= @character.mem %></p>
  </br>
  <p>Strike: <%= @character.strike %></p>
  <p>Defensive Posture: <%= @character.defensive_posture %></p>
  <p>Throw: <%= @character.thrown %></p>
  <p>Cover: <%= @character.cover %></p>
  <p>Throw Dirt: <%= @character.dirt %></p>
</div>

<div id="character-equipment" class="left" data-id="<%= @character._id %>">
  <%= render :partial => 'equipment' %>
</div>

