<script type="text/javascript">
  battle = {
    skills: <%= Constant.skills.html_safe %>,
    actions: {
      '0': [],
      '1': [],
      '2': [],
      '3': [],
      '4': []
    },
    op_chars_pos: <%= @op_chars.all.map { |char| ["#{char.name} - #{char.position}", char.position, char.melee_target, char.ranged_target] }.to_s.html_safe %>
  }
</script>

<p>Doin battle against <%= @op_team.name %>!</p>
<p>Battle is on turn <%= @battle.turn %></p>

<div id="opponent-team">
  <% case @op_team.formation %>
    <% when 1 %>
      <%= render :partial => "front_row_1", :locals => {:team => @op_team} %>
    <% when 2 %>
      <%= render :partial => "back_row_2", :locals => {:team => @op_team} %>
      <%= render :partial => "front_row_2", :locals => {:team => @op_team} %>
    <% when 3 %>
      <%= render :partial => "back_row_3", :locals => {:team => @op_team} %>
      <%= render :partial => "front_row_3", :locals => {:team => @op_team} %>
    <% when 4 %>
      <%= render :partial => "back_row_4", :locals => {:team => @op_team} %>
      <%= render :partial => "front_row_4", :locals => {:team => @op_team} %>
  <% end %>
</div>

<div class="separator"></div>

<div id="home-team">
  <% case @team.formation %>
    <% when 1 %>
      <%= render :partial => "front_row_1", :locals => {:team => @team} %>
    <% when 2 %>
      <%= render :partial => "front_row_2", :locals => {:team => @team} %>
      <%= render :partial => "back_row_2", :locals => {:team => @team} %>
    <% when 3 %>
      <%= render :partial => "front_row_3", :locals => {:team => @team} %>
      <%= render :partial => "back_row_3", :locals => {:team => @team} %>
    <% when 4 %>
      <%= render :partial => "front_row_4", :locals => {:team => @team} %>
      <%= render :partial => "back_row_4", :locals => {:team => @team} %>
  <% end %>
</div>

<div id="home-team-actions">
  <% @chars.each do |char|%>
    <script type="text/javascript">
      battle.pos<%= char.position %>_ap = <%= char.ap %>
    </script>
    <%= render :partial => "characters/char_action", :locals => { :character => char, :pos => char.position} %>
  <% end %>
  <a href="#" id="submit-turn">Confirm</a>
</div>

<div id="turn-events"><%= @turn_events.html_safe %></div>

