<script type="text/javascript">

  $(document).ready(function() {

    $(window).on("click", function(event) {
        if(battle.skill_selected != null)
            battle.skill_selected = null
            $('.skill-button-container').removeClass('selected');
            $('.battle-character').removeClass('disabled legal-target slight-penalty-target severe-penalty-target');
    });

    update_timeout_clock();

  });

  battle = {
    skills: <%= Constant.skills.html_safe %>,
    actions: {
      '0': [],
      '1': [],
      '2': [],
      '3': [],
      '4': []
    },
    op_chars: <%= @op_chars.all.map { |char| ["#{char.name}", char.position] }.to_s.html_safe %>,
    formation: <%= @team.formation %>,
    pos_targetability: <%= (0..4).map { |pos| [@op_team.position_targetability_melee(pos), @op_team.position_targetability_ranged(pos)] } %>,
    melee_range: <%= (0..4).map { |pos| @team.position_targetability_melee(pos) } %>,
    chars: <%= @chars.all.map { |char| ["#{char.name}", char.position] }.to_s.html_safe %>,
    skill_selected: null
  }

  var battle_actions_interval_id = setInterval(
    update_timeout_clock,
    10000
  );
</script>

<div class="section-header left">
  <h2>In battle against <%= @op_team.name %>!</h2>
</div>
<div id="battle-info left">
  <span>Battle is on turn <%= @battle.turn %></span>
  <div id="submit-timer" class="right">
    Opponent has not yet confirmed actions.
  </div>
</div>

<div id="battle-teams" class="bright-background left">
  <div id="opponent-team" class="left">
    <% case @op_team.formation %>
      <% when 1 %>
        <%= render :partial => "front_row_1", :locals => {:team => @op_team} %>
      <% when 2 %>
        <%= render :partial => "back_row_2", :locals => {:team => @op_team} %>
        <%= render :partial => "front_row_2", :locals => {:team => @op_team} %>
      <% when 3 %>
        <%= render :partial => "back_row_3", :locals => {:team => @op_team} %>
        <%= render :partial => "front_row_3", :locals => {:team => @op_team} %>
      <% when 4 %>
        <%= render :partial => "back_row_4", :locals => {:team => @op_team} %>
        <%= render :partial => "front_row_4", :locals => {:team => @op_team} %>
    <% end %>
  </div>

  <div id="home-team" class="left">
    <% case @team.formation %>
      <% when 1 %>
        <%= render :partial => "front_row_1", :locals => {:team => @team} %>
      <% when 2 %>
        <%= render :partial => "front_row_2", :locals => {:team => @team} %>
        <%= render :partial => "back_row_2", :locals => {:team => @team} %>
      <% when 3 %>
        <%= render :partial => "front_row_3", :locals => {:team => @team} %>
        <%= render :partial => "back_row_3", :locals => {:team => @team} %>
      <% when 4 %>
        <%= render :partial => "front_row_4", :locals => {:team => @team} %>
        <%= render :partial => "back_row_4", :locals => {:team => @team} %>
    <% end %>
  </div>
</div>

<div id="home-team-actions">
  <% @chars.each do |char|%>
    <script type="text/javascript">
      battle.pos<%= char.position %>_ap = <%= char.final_ap %>
      battle.pos<%= char.position %>_skills = <%= char.get_final_skills_array.to_s %>
    </script>
    <%= render :partial => "characters/char_action", :locals => { :character => char, :pos => char.position} %>
  <% end %>
  <span id="submit-turn-button"><a href="#" id="submit-turn"><b>Submit Actions</b></a></span>
</div>

<div id="turn-events" class="bright-background">
  <%= @turn_events.html_safe %>
</div>

