<script type="text/javascript">
  battle = {
    skills: <%= Constant.skills.html_safe %>,
    actions: {
      '0': [],
      '1': [],
      '2': [],
      '3': [],
      '4': []
    }
  }
</script>

Doin battle against <%= @op_team.name %>!

<div id="opponent-team">
  <%= render :partial => "characters/op_character", :collection => @op_chars %>
</div>
</br>
<div id="home-team">
  <% @chars.each do |char|%>
    <script type="text/javascript">
      battle.pos<%= char.position %>_ap = <%= char.ap %>
    </script>
    <%= render :partial => "characters/char_action", :locals => { :character => char, :pos => char.position} %>
  <% end %>
</div>

<a href="#" id="submit-turn">Confirm</a>

<div id="turn-events"><%= @turn_events.html_safe %></div>

