<!DOCTYPE html>
<html>
<head>
  <title>Warbands</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="all-content">
    <div id="top-background-top"></div>
    <div id="top-content">
      <div class="left title-text">
        <img src="/images/logo_dark.png"/>
      </div>
      <% if current_user and current_user.team %>
      <div id="team-info" class="right" data-id="<%= current_user.team._id %>">
        <div id="gold-display"><p><b>Gold: <%= current_user.team.gold %></b></p></div>
        <p><b>Rating: <%= current_user.team.rating %></b></p>
        <div class="right"><%= link_to "Logout", logout_path %></div>
        <%= battle_button %>
      </div>
      <div class="navbar left"><b>
        <div class="navbar-choice left"><%= link_to "Home", root_path %></div>
        <div class="navbar-choice left"><%= link_to "Barracks", team_path(current_user.team) %></div>
        <div class="navbar-choice left"><%= link_to "Smithy", smithy_path %></div>
        <div class="navbar-choice left"><%= link_to "Arena", arena_path %></div>
        <div class="navbar-choice left"><%= link_to "Rankings", rankings_path %></div>
      </b></div>
      <% end %>
    </div>
    <div id="top-background-bottom"></div>
  <div id="main-background-top"></div>
  <div class="main-content-container">
    <div class="inner-content">
      <%= yield %>
    </div>
  </div>
  <div id="main-background-bottom"></div>
</div>

</body>
</html>

