<!DOCTYPE html>
<html>
<head>
  <title>Warbands</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="top-navigation">
  <% if current_user and current_user.team %>
    <div class="left">
      <h2>Playing with <%= link_to current_user.team.name, current_user.team %></h2>
      <p>Logged in as <%= current_user.email %>
      <% if current_user.battle_queue %>
        <b>In queue for battle</b>
      <% end %>
      <% if current_user.battle%>
        <%= battle_button("In battle!") %>
      <% end %>
      <div class="navbar">
        <%= link_to "Home", root_path %>
        <%= link_to "Team Rankings", rankings_path %>
      </div>
    </div>
    <div id="team-info" class="right" data-id="<%= current_user.team._id %>">
      <div id="gold-display"><p><b>Gold: <%= current_user.team.gold %></b></p></div>
      <p><b>Rating: <%= current_user.team.rating %></b></p>
    </div>
  <% end %>
</div>

<div class="container main-content">
<%= yield %>
</div>

</body>
</html>

